APP_ROOT=/opt/noctification
NODE_ENV=production
PORT=4000
DB_PATH=./data/noctification.db
JWT_SECRET=CHANGE_ME_TO_A_LONG_RANDOM_SECRET
JWT_EXPIRES_HOURS=8
CORS_ORIGIN=http://IP_DA_VM:5173
ADMIN_LOGIN=admin
ADMIN_PASSWORD=CHANGE_ME_ADMIN_PASSWORD
ADMIN_NAME=Administrador
